@model List<String>
@{
    ViewBag.Title = "Subir";
}
<h2>Suba el archivo con su autómata</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="archivo">Subir archivo CSV:</label>
        <input type="file" name="archivo" id="archivo" class="form-control-file">
    </div>
    <button type="submit" class="btn btn-primary">Subir archivo</button>
</form>
<br />
@if (Model.Count > 0)
{
    <center><h1>Archivo cargado, presione continuar</h1></center/>
}
else
{
    <center><h1>Primero suba su archivo por favor</h1></center/>
}
<br />
<div>
    <center>
        <form method="post" action="@Url.Action("Construir", "Estado")">
            <button type="submit" id="llamarMetodoBtn" name="llamarMetodoBtn" class="botonplano">Continuar</button>
        </form>
    </center>
    <br />
    <center>
        <form method="post" action="@Url.Action("Index", "Estado")">
            <button type="submit" id="llamarMetodoBtn" name="llamarMetodoBtn" class="botonplano">volver</button>
        </form>
    </center>
</div>